extends layout

block content
  h1 #{title}: #{author.name}
  if author.date_of_birth && author.date_of_death
    p 享年：#{author.lifespan}
  
  if author_books.length
  
    p #[strong 尝试删除此作者之前，请删除以下书籍。]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 藏书
    
      dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p 你真的想删除此作者吗？
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') 删除