extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') 标题:
      input#title.form-control(type='text', placeholder='藏书名字' name='title' required='true' value=(undefined===book ? '' : book.title) )
    div.form-group
      label(for='author') 作者:
      select#author.form-control(type='select', placeholder='选择作者' name='author' required='true' )
        for author in authors
          if book
            option(
              value=author._id 
              selected=(
                author._id.toString()==book.author._id
                || author._id.toString()==book.author
              ) ? 'selected' : false 
            ) #{author.name}
          else
            option(value=author._id) #{author.name}
    div.form-group
      label(for='summary') 摘要:
      input#summary.form-control(type='textarea', placeholder='摘要' name='summary' value=(undefined===book ? '' : book.summary) required='true')
    div.form-group
      label(for='isbn') 书号:
      input#isbn.form-control(type='text', placeholder='书号13' name='isbn' value=(undefined===book ? '' : book.isbn) required='true') 
    div.form-group
      label 种类:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    button.btn.btn-primary(type='submit') 提交

  if errors 
    ul
      for error in errors
        li!= error.msg