extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='book') 藏书:
      select#book.form-control(type='select' placeholder='选择藏书' name='book' required='true')
        for book in book_list
          if bookinstance
            option(value=book._id selected=(bookinstance.book.toString()==book._id.toString() ? 'selected' : false)) #{book.title}
          else
            option(value=book._id) #{book.title}
        
    div.form-group
      label(for='imprint') 出版社:
      input#imprint.form-control(type='text' placeholder='出版社和日期信息' name='imprint' required='true' value=(undefined===bookinstance ? '' : bookinstance.imprint))
    div.form-group
      label(for='due_back') 书能被借阅的日期:
      input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back))
            
    div.form-group
      label(for='status') 藏书状态:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='馆藏维护') 馆藏维护
        option(value='可供借阅') 可供借阅
        option(value='已借出') 已借出
        option(value='保留') 保留

    button.btn.btn-primary(type='submit') 提交

  if errors 
    ul
      for error in errors
        li!= error.msg