extends layout

block content
  h1 #{title}: #{genre.name}
  
  if genre_books.length
  
    p #[strong 尝试删除此类型之前，请删除以下书籍。]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 藏书
    
      dl
      each book in genre_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p 你真的想删除此类型吗？
    
    //传出genreid，隐藏的表单
    form(method='POST' action='')   
      div.form-group
        input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') 删除